<footer class="footer">
  <section>
      <div class="container" style="padding: 1% 0;">
          <div id="dsc-logo">
            <img src="../../../assets/images/logo copy.png">
          </div>
          <!-- <div class="ft-col-2">
            <div class="footer-head">LEGAL</div>
            <div width="100%">
              <ul class="arrange">
                <li style="display:inline;"><a class="arabic-links" (click)="openTerms()">Terms & Conditions</a></li>
                <li style="display:inline;"><a class="arabic-links" (click)="openPolicy()">Privacy Policy</a></li>
                <li style="display:inline;"><a class="arabic-links" (click)="openFooterModal()">{{ 'Delegate Terms & Conditions' | translate}}</a></li>
                <li style="display:inline;"><a class="arabic-links" (click)="openFooterModal()">{{ 'Sponsorship Policy' | translate}}</a></li>
              </ul>
            </div>
          </div> -->
          <div class="ft-col-2">
            <div class="footer-head">CUCKOO DIARIES</div>
            <div width="100%">
              <ul class="arrange">
                <li style="display:inline;cursor: unset;"><a>+011 47087640<br>+011 23610723</a></li>
                <li style="display:inline;cursor: unset;"><a>8774-76/11, Ground Floor, Mittal Chamber, Sidipura, Karol Bagh, New Delhi, Delhi 11005</a></li>
              </ul>
            </div>
          </div>
          <div class="ft-col-4">
              <div class="footer-head">SANJAY PRINTERS</div>
              <div class="link-wrap">
                <ul class="arrange">
                  <li style="display:inline;cursor: unset;"><a>+91 9654513595<br>+91 9811400942<br>+011 22145212<br>+011 42331057</a></li>
                  <li style="display:inline;"><a>info@sanjayprinters.in<br>Plot No. 180, Patparganj Industrial Area, Patparganj, Delhi-110092</a></li>
                  <!-- <li style="display:inline;"><a>+91 9811400942<br>+011 22145212<br>+011 42331057</a></li> -->
                  <!-- <li style="display:inline;"><a>Plot No. 180, Patparganj Industrial Area, Patparganj, Delhi-110092</a></li> -->
                </ul>
              </div>
          </div>
          <div></div>
        </div>
        <div class="container adj">©Sanjay Printers & Publishers Pvt Ltd 2019</div>
  </section>
</footer>
